@import '~@angular/material/theming';

deja-combo-list {
    @include mat-elevation(1);
    overflow-y: auto;
    display: flex;
    height: 100%;

    deja-combo-list-child {
        flex: 1 1 45%;
    }

    deja-combo-list-actionbar {
        display: flex;
        flex-direction: column;
    }

    .mat-list-text {
        height: 100%;
        display: flex;
        justify-content: center;        
    }
}

.combo-list-cursor {
    #content {
        max-width: 5rem !important;
        height: 2rem !important;
        display: flex;
        align-items: center;
        font-size: 12px;
        opacity: 0.8;
        background-color: crimson;
    }
}
